<html>
<%- include('./partials/header.ejs');%>
<body>

<h1>node6-3 index.ejs</h1>

<a href="/chat1">チャットルーム１</a>
<a href="/chat2">チャットルーム２</a>
<a href="/chat3">チャットルーム３</a>


<hr>
<img src="img/image1.jpg" height="10%">
<img src="img/image2.png" height="10%">

</body>
<%- include('./partials/footer.ejs');%>
</html>