<%- include('./partials/header.ejs');  %>

<h1><%= name %>様の専用URL＆ページ%></h1>

<p>（商品紹介などでも使用）</p>
<hr>

<img src="/img/image1.jpg"><br>
<img src="/img/image2.png">

<%- include('./partials/footer.ejs');  %><br>
