<head>
   <meta charset="utf-8">
   <title>index page node4-X</title>
   <link rel="stylesheet"  href="./css/style.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <!-- <script src="/js/jquery-3.6.0.min.js"></script> -->
   <script src="js/javascript.js"></script>
</head>