@charset "UTF-8";
/*==========-==========-==========-==========-==========*/
/* bootstrapをコピペ(微変更済) */
/* -------------------------------------------------- */
.w-25 {
  width: 25% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

/* -------------------------------------------------- */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.075);
}

.table-dark, .table-striped tbody tr:nth-of-type(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.table {
  border-color: #dee2e6;
}

.table td, .table th {
  padding: .75rem;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

/* .table tbody{
   border-top:2px solid #dee2e6
} */
table {
  caption-side: bottom;
  border-collapse: collapse;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 500;
  line-height: 1.2;
}

body {
  line-height: 1.5;
  font-weight: 400;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto, "Helvetica Neue",Arial,"Noto Sans", "Liberation Sans",sans-serif, "Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol","Noto Color Emoji";
}

button, input, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*==========-==========-==========-==========-==========*/
/* bootstrapっぽい自作 */
/* -------------------------------------------------- */
.divCenter {
  display: flex;
  justify-content: center;
}

.pCenter {
  text-align: center !important;
}

.verticalWriting {
  writing-mode: vertical-rl;
}

.rightWriting {
  text-align: right;
}

/* -------------------------------------------------- */
.pt-10 {
  padding-top: 1rem;
}

.m-0a {
  margin: 0 auto;
}

/* -------------------------------------------------- */
/* h2,h3,h4,h5,h6{
   margin-bottom: 7.5px;
}
p{
   margin-bottom: 10px;
} */
/* -------------------------------------------------- */
table {
  margin: 0 auto;
}

th, td {
  text-align: center;
  vertical-align: middle;
}

.borderCancel tbody, .borderCancel th, .borderCancel td {
  border: none !important;
}

.tableMenu {
  text-align: center;
  background: linear-gradient(to bottom, #1e88b9 0%, #1680b1 50%, #0f709c);
  color: whitesmoke;
}

/* -------------------------------------------------- */
.errorMsg {
  font-size: 1.6rem;
  font-weight: normal;
  color: crimson;
  text-align: center;
  margin-top: .5rem;
}

/*==========-==========-==========-==========-==========*/
/* 基礎 */
/* -------------------------------------------------- */
/*初期化*/
*, ::before, ::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #323232;
}

html {
  scroll-behavior: smooth;
  /* スクロールをスムーズに */
  font-size: 62.5%;
  /* 1rem = 10pxになった */
}

body {
  font-size: 1.6rem;
}

li {
  list-style-type: none;
  list-style-position: outside;
}

img {
  vertical-align: bottom;
  /*画像のベースラインを下にする*/
  max-width: 100%;
  /*画像の横幅の最大値を親要素に合わせる*/
}

a {
  display: block;
  text-decoration: none;
  /*aの下線を非表示にする*/
  color: #919191;
  color: #0d6efd;
  cursor: pointer;
}

a:hover {
  color: #2d2d2d;
  color: #0847a5;
  text-decoration: underline;
}

/* -------------------------------------------------- */
/* 空要素を非表示に */
.empty {
  display: none;
}

/* 削除・領域も除去 */
.hidden {
  visibility: hidden;
}

/* 非表示・不可視 */
.d-unset {
  display: unset;
}

.d-block {
  display: block;
}

/* -------------------------------------------------- */
input, select, textarea {
  background-color: #fff;
  width: 90%;
}

select {
  height: 30px;
}

button {
  width: auto;
  height: auto;
  margin: 0 10px;
  padding: 6px 10px;
  background-color: #64b4f5;
  background-color: #84c2fc;
  color: black;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  border-radius: .75rem;
}

button:hover {
  background-color: #5dacec;
  background-color: #90c9ff;
  color: #250f02;
}

.notBtn {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-radius: unset;
  border: none;
}

.notBtn:hover {
  background-color: transparent;
}

.whiteBtn {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  border-radius: unset;
}

.whiteBtn:hover {
  background-color: whitesmoke;
}

.pointer {
  cursor: pointer;
}

form {
  text-align: center;
}

.displayFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}
